

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Advocacia Pessoal e Empresarial</h1>
      <h2>Assessoria e consultoria jurídica integral para você, sua família e sua empresa.</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="https://wa.me/5521988887450" class="btn-get-started scrollto">Consulte agora</a>
      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Por que ter uma assessoria jurídica pessoal?</h3>
              <p>
                Em mais de 20 anos de atendimentos, verificamos que grande parte das pessoas nos procuram por questões que poderia ter sido resolvidas facilmente caso tivessem consultado um advogado com antecedência.
                Antes de assinar um contrato ou fazer qualquer negócio que fuja à normalidade, convém consultar sempre um advogado para evitar possíveis fraudes e prejuízos, especialmente em se tratando de aquisição de bens de maior valor como imóveis e bens de consumo duráveis.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn"><i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="icofont-worker"></i>
                    <h4>Direito do Trabalho</h4>
                    <p>Foi demitido ? Peça uma análise dos seus direitos trabalhistas.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="icofont-shopping-cart"></i>                    <h4>Direito do Consumidor</h4>
                    <p>Não deixe de reclamar os seus direitos. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="icofont-building-alt"></i>
                    <h4>Direito Imobiliário</h4>
                    <p>Antes de assinar um contrato ou fechar um negócio consulte-nos.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->