    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2 data-aos="fade-up">Contato</h2>
            <p data-aos="fade-up">Pra sua comodidade. Faça sua consulta por email.</p>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <div class="col-xl-9 col-lg-12 mt-4">
              <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc4aJPkR6S8OLwRlTCrcCzqhfFzVTWKnzJsh_HD251m7DGtFA/formResponse" method="POST" role="form" class="php-email-form">
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="entry.2005620554" class="form-control" id="name" placeholder="Seu nome" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="entry.1045781291" id="email" placeholder="Seu email" data-rule="email"/>
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="entry.1166974658" id="telefone" placeholder="Telefone" data-rule="maxlen:11" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="entry.839337160" rows="5" data-rule="required" placeholder="Sua consulta"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->