<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
      <div class="container d-flex">
        <div class="contact-info mr-auto">
          <ul>
            <li><i class="icofont-envelope"></i><a href="mailto:mfml.adv@gmail.com">mfml.adv@gmail.com</a></li>
            <li><i class="icofont-phone"></i>21 98888-7450</li>
            <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Seg-Sex 10:00h - 18:00h</li>
          </ul>
  
        </div>
        <div class="cta">
          <a href="https://wa.me/5521988887450" class="scrollto"><i class="icofont-whatsapp"></i>  Consulte via Whatsapp</a>
        </div>
      </div>
    </section>
  
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container d-flex">
  
        <div class="logo mr-auto">
          <!-- <h1 class="text-light"><a href="index.html"><span>Machado Lopes, Advocacia</span></a></h1> -->
          <a href="index.html"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>
        </div>
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Início</a></li>
            <li><a href="#about">Sobre o Escritório</a></li>
<!--             <li><a href="#services">Casos de sucesso</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#pricing">Pricing</a></li> -->
            <li><a href="blog.html">Casos de sucesso</a></li>
                  
            <li><a href="#contact">Contato</a></li>
  
          </ul>
        </nav><!-- .nav-menu -->
  
      </div>
    </header><!-- End Header -->